parameters:
    level: 8
    paths:
        - includes
        - test-plugin
        - tests/unit
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - wp-content/plugins
        - vendor/wp-cli
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
        - vendor/10up/wp_mock/php/WP_Mock/Action.php
        - vendor/10up/wp_mock/php/WP_Mock/HookedCallback.php
        - vendor/10up/wp_mock/php/WP_Mock/Filter.php
    ignoreErrors:
        - '#Method .* has parameter \$context with no value type specified in iterable type array.#'
        - '#Call to an undefined method WP_Mock\\Action_Responder\|WP_Mock\\Filter_Responder\|WP_Mock\\HookedCallbackResponder::reply\(\)\.#'
